---
import type { Playlist } from "../lib/data";
import {CardPlayButton} from "../components/CardPlayButton"

interface Props {
    playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");

---

<article class="group relative bg-black/30  hover:bg-zinc-800  
    shadow-lg hover:shadow-xl rounded-md duration-300">

    <div class=`absolute right-6 bottom-[90px] translate-y-4 transition-all duration-500
    opacity-0 group-hover:translate-y-0 group-hover:opacity-100 z-10`>

        <CardPlayButton id={id} client:visible />
    </div>

    <a href={`/playlist/${id}`} 
    class="playlist-item flex flex-col relative text-white/80 duration-300 overflow-hidden items-start gap-5
    rounded-md pb-4 pt-4 px-4 hover:text-green-500 "
    transition:name=`playlist ${id} box`>
    
        <picture class="aspect-square h-auto flex-none w-44">
            <img src={cover}
            alt={`Cover of ${title} by ${artistsString}`} 
            class="object-cover rounded-md w-full h-full"
            transition:name=`playlist ${id} image`>
        </picture>
    
        <div class="flex flex-auto flex-col truncate">
            <h4 class="font-normal  duration-300" transition:name=`playlist ${id} title`>
                {title}
            </h4>
    
            <span class="text-sm text-white/60" transition:name=`playliist ${id} artists`>
                {artistsString}
            </span>
        </div>
    </a>
</article>